# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.TheLibraryOfBabel.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\djliz\RiderProjects\TheLibraryOfBabel\.idea\.idea.TheLibraryOfBabel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
