@model AuthorViewModel

@{
    ViewData["Title"] = "Author Page";
}

<div class="jumbotron">
    <h1 class="display-3">Author Edit</h1>
    <hr class="my-4">
</div>

<div>
    <form method="post">
        <input id="Id" type="hidden" name="Id" value="@Model.Id">

        <label for="Name" class="col-form-label float-left">Author Name:</label>
        <input id="Name" name="Name" type="text" class="form-control" placeholder="Author" value="@Model.Name" required/>
        <div class="float-left invalid-feedback">
            Invalid name.
        </div>
        
        <label for="Books" class="col-form-label float-left">Books:</label>
        <div>
            <select id="Books" name="Books" class="form-control" multiple>
                @foreach (var item in ViewData["Books"] as List<BookViewModel>)
                {
                    @:<option value="@item.Id"
                    if (Model.Books.Any(a => item.Id == a.Id))
                    {
                        @:selected
                    }
                    @: >@item.Name</option>
                }
            </select>
        </div>

        <button type="submit" class="mt-2 btn btn-primary" value="newItem">Save</button>

    </form>
</div>

@section Scripts
{
    <script>
    $(document).ready(function () {
          $('#Books').select2({
                multiple: true
                });
    });
    </script>
}