@model GenreViewModel

@{
    ViewData["Title"] = "Genre Page";
}

<div class="jumbotron">
    <h1 class="display-3">Genre Edit</h1>
    <hr class="my-4">
</div>

<div>
    <form method="post">
        <input id="Id" type="hidden" name="Id" value="@Model.Id">

        <label for="Name" class="col-form-label float-left">Genre Name:</label>
        <input id="Name" name="Name" type="text" class="form-control" placeholder="Genre" value="@Model.Name" required/>
        <div class="float-left invalid-feedback">
            Invalid name.
        </div>
        
        <button type="submit" class="mt-2 btn btn-primary" value="newItem">Save</button>

    </form>
</div>